@media screen and (max-width: 767px) {
    header nav {
        display: none;
    }

    .main_banner .main_image {
        display: none;
    }

    .main_banner{
        padding: 30px 30px;
        text-align: center;
    }

    .main_banner form {
        flex-direction: column;
        align-items: center;
    }

    .main_banner input {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }

    .main_banner button {
        width: 100%;
    }

    .second_banner {
        padding: 0;
    }

    .inblock_1 {
        position: static;
        padding: 20px 30px;
    }

    .freebanner {
        flex-direction: column;
        margin-top: 40px;
        text-align: center;
    }

    .icon li {
        margin-left: 60px;
        width: 100%;
        justify-content: space-around;
    }

    .icon li:before {
        width: 70px;
        height: 30px;
        margin-right: 1px;
    }

    .icon li:nth-child(2):before {
        width: 130px;
        height: 30px;
        margin-right: 1px;
    }

    .icon li:last-of-type:before {
        width: 120px;
        height: 30px;
        margin-right: 1px;
    }

    .third_banner{
        padding: 20px 30px;
    }
    .third_banner img {
        display: none;
    }

    .third_banner .type_1 h3 {
        text-align: center;
    }

    .third_banner .type_1 p {
        text-align: center;
        padding-bottom: 15px;
    }

    .third_banner .type_2 h3 {
        text-align: center;
    }

    .third_banner .type_2 p {
        text-align: center;
    }

    .third_banner .type_3 h3 {
        text-align: center;
    }

    .third_banner .type_3 p {
        text-align: center;
    }
    .fourth_banner{
        padding: 30px 30px;
    }
    .fourth_banner div {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .fourth_banner img {
        padding-bottom: 8px;
    }

    .inblock_2 {
        position: static;
        padding: 20px 30px;
        margin-bottom: 50px;
    }

    .fifth_banner {
        padding: 0;
    }
    .type_4 p:nth-child(3){
        padding: 10px 30px;
    }
}
