@media screen and (max-width: 767px) {
    body {
        overflow-x: hidden;
    }

    header {
        padding: 10px;
    }

    header nav ul {
        display: block;
    }
    header nav li{
        margin-left: 0px;
    }
    .main_banner .container {
        padding: 0 30px;
        text-align: center;
        flex-direction: column;
    }

    .main_banner form {
        width: 300px;
        margin: auto;
    }

    .main_banner input {
        width: 120px;
        font-size: 8px;
    }

    .main_banner button {
        padding: 8px 15px;
    }

    .second_banner {
        padding: 0;
    }

    .inblock_1 {
        position: static;
        padding: 20px 30px;
    }

    .freebanner {
        flex-direction: column;
        margin-top: 40px;
        text-align: center;
    }

    .icon li {
        margin-left: 60px;
        width: 100%;
        justify-content: space-around;
        text-align: center;
    }

    .icon li:before {
        width: 70px;
        height: 30px;
        margin-right: 0;
    }

    .icon li:nth-child(2):before {
        width: 130px;
        height: 30px;
        margin-right: 0;
    }

    .icon li:last-of-type:before {
        width: 120px;
        height: 30px;
        margin-right: 0;
    }

    .nav-but-wrap {
        display: inline-block;
    }

    .nav {
        position: fixed;
        z-index: 98;
    }

    .nav:before, .nav:after {
        content: "";
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: #E7CEAD;
        border-bottom-left-radius: 200%;
        z-index: -1;
        -webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
        transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
        transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
        transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
        -webkit-transform: translateX(100%) translateY(-100%);
        transform: translateX(100%) translateY(-100%);
    }

    .nav:after {
        background: #F4EFE9;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }

    .nav:before {
        -webkit-transition-delay: .2s;
        transition-delay: .2s;
    }

    .nav__content {
        position: fixed;
        visibility: hidden;
        top: 50%;
        left: 0;
        margin-top: 20px;
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
        width: 100%;
        text-align: center;
    }

    .nav__list {
        position: relative;
        padding: 0;
        margin: 0;
        z-index: 2;
    }

    .nav__list-item {
        position: relative;
        display: block;
        -webkit-transition-delay: 0.8s;
        transition-delay: 0.8s;
        opacity: 0;
        text-align: center;
        color: #fff;
        overflow: hidden;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        line-height: 2;
        letter-spacing: 8px;
        -webkit-transform: translate(100px, 0%);
        transform: translate(100px, 0%);
        -webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
        transition: opacity .2s ease, -webkit-transform .3s ease;
        transition: opacity .2s ease, transform .3s ease;
        transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
        margin-top: 0;
        margin-bottom: 0;
    }

    .nav__list-item a {
        position: relative;
        text-decoration: none;
        color: #000000;
        overflow: hidden;
        cursor: pointer;
        padding-left: 5px;
        padding-right: 5px;
        font-weight: 900;
        z-index: 2;
        display: inline-block;
        text-transform: uppercase;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }

    .nav__list-item a:after {
        position: absolute;
        content: '';
        top: 50%;
        margin-top: -2px;
        left: 50%;
        width: 0;
        height: 0;
        opacity: 0;
        background-color: #FC9B1E;
        z-index: 1;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }

    .nav__list-item a:hover:after {
        height: 4px;
        opacity: 1;
        left: 0;
        width: 100%;
    }

    .nav__list-item a:hover {
        color: #6B696B;
    }

    .nav__list-item.active-nav a {
        color: #000000;
    }

    .nav__list-item.active-nav a:after {
        height: 4px;
        opacity: 1;
        left: 0;
        width: 100%;
    }
    .third_banner{
        padding: 20px 30px;
    }
    .third_banner img {
        display: none;
    }

    .third_banner .type_1 h3 {
        text-align: center;
    }

    .third_banner .type_1 p {
        text-align: center;
        padding-bottom: 15px;
    }

    .third_banner .type_2 h3 {
        text-align: center;
    }

    .third_banner .type_2 p {
        text-align: center;
    }

    .third_banner .type_3 h3 {
        text-align: center;
    }

    .third_banner .type_3 p {
        text-align: center;
    }
    .fourth_banner{
        padding: 30px 30px;
    }
    .fourth_banner div {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .fourth_banner img {
        padding-bottom: 8px;
    }

    .inblock_2 {
        position: static;
        padding: 20px 30px;
        margin-bottom: 50px;
    }

    .fifth_banner {
        padding: 0;
        text-align: center;
    }
    .type_4 p:nth-child(3){
        padding: 20px 30px;
    }
    .banner_six{
        padding: 30px;
    }
}
