@import "owl.carousel.css";
@import "owl.theme.default.css";
@import "mobile_menu.css";
@import "style.css";
@import "media.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F4EFE9;
}
@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
}

.container {
  max-width: 1200px;
  margin: auto;
}

.d_flex {
  display: flex;
  justify-content: space-between;
}

.d_flex_2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header {
  padding: 40px 0;
  margin-bottom: 80px;
}
@media screen and (max-width: 767px) {
  header .nav-but-wrap {
    display: inline-block;
  }
  header .nav {
    position: fixed;
    z-index: 98;
  }
  header .nav:before, header .nav:after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #E7CEAD;
    border-bottom-left-radius: 200%;
    z-index: -1;
    -webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
    transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
    -webkit-transform: translateX(100%) translateY(-100%);
    transform: translateX(100%) translateY(-100%);
  }
  header .nav:after {
    background: #F4EFE9;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  header .nav:before {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  header .nav__content {
    position: fixed;
    visibility: hidden;
    top: 50%;
    left: 0;
    margin-top: 20px;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    width: 100%;
    text-align: center;
  }
  header .nav__list {
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 2;
  }
  header .nav__list-item {
    position: relative;
    display: block;
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
    opacity: 0;
    text-align: center;
    color: #fff;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    line-height: 2;
    letter-spacing: 8px;
    -webkit-transform: translate(100px, 0%);
    transform: translate(100px, 0%);
    -webkit-transition: opacity 0.2s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.2s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.2s ease, transform 0.3s ease;
    transition: opacity 0.2s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
    margin-top: 0;
    margin-bottom: 0;
  }
  header .nav__list-item a {
    position: relative;
    text-decoration: none;
    color: #000000;
    overflow: hidden;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 900;
    z-index: 2;
    display: inline-block;
    text-transform: uppercase;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  header .nav__list-item a:after {
    position: absolute;
    content: "";
    top: 50%;
    margin-top: -2px;
    left: 50%;
    width: 0;
    height: 0;
    opacity: 0;
    background-color: #FC9B1E;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  header .nav__list-item a:hover:after {
    height: 4px;
    opacity: 1;
    left: 0;
    width: 100%;
  }
  header .nav__list-item a:hover {
    color: #6B696B;
  }
  header .nav__list-item.active-nav a {
    color: #000000;
  }
  header .nav__list-item.active-nav a:after {
    height: 4px;
    opacity: 1;
    left: 0;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  header {
    padding: 10px;
  }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .container .logo {
    position: relative;
    z-index: 100;
  }
}

nav ul {
  display: flex;
  list-style: none;
}
@media screen and (max-width: 767px) {
  nav ul {
    display: block;
  }
}
nav ul li {
  margin-left: 40px;
}
@media screen and (max-width: 767px) {
  nav ul li {
    margin-left: 0px;
  }
}
nav ul li a {
  text-decoration: none;
  color: #1E1928;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
nav ul li a:first-of-type {
  font-size: 13px;
}
nav ul li a:last-of-type {
  font-size: 14px;
}

.main_banner .container {
  padding-bottom: 196px;
}
@media screen and (max-width: 767px) {
  .main_banner .container {
    padding: 0 30px;
    text-align: center;
    flex-direction: column;
  }
}
.main_banner .container h1 {
  color: #1E1928;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  margin-bottom: 24px;
  max-width: 400px;
}
@media screen and (max-width: 767px) {
  .main_banner .container h1 {
    max-width: none;
  }
}
.main_banner .container p:first-of-type {
  margin-bottom: 4px;
  color: rgba(30, 25, 40, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.252px;
}
.main_banner .container p:nth-child(3) {
  margin-bottom: 28px;
  color: rgba(30, 25, 40, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.252px;
  max-width: 549px;
}
@media screen and (max-width: 767px) {
  .main_banner .container p:nth-child(3) {
    max-width: none;
  }
}
.main_banner .container p:last-of-type {
  margin-bottom: 24px;
  color: #1E1928;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.252px;
}
.main_banner .container form {
  border-radius: 9999px;
  background: white;
  padding: 8px 12px;
  display: flex;
  max-width: 448px;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .main_banner .container form {
    width: 300px;
    margin: auto;
  }
}
.main_banner .container form input {
  width: 180px;
  border: none;
  background-color: transparent;
  padding: 10px 19px;
  color: rgb(30, 25, 40);
  font-family: "Inter", sans-serif;
  outline: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
@media screen and (max-width: 767px) {
  .main_banner .container form input {
    width: 120px;
    font-size: 8px;
  }
}
.main_banner .container form button {
  padding: 10px 32px;
  border-radius: 9999px;
  background: #1E1928;
  color: #F4EFE9;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
@media screen and (max-width: 767px) {
  .main_banner .container form button {
    padding: 8px 15px;
  }
}
.main_banner .container .main_image {
  max-width: 564px;
  padding-top: 73px;
}
.main_banner .container .main_image .image_adaptive {
  display: block;
  width: 100%;
}

.second_banner {
  padding-top: 270px;
  padding-bottom: 78px;
  background-color: #FFD394;
  background-image: url("images/bottom_logo.png");
  background-position: bottom -240px left 0px;
  background-repeat: no-repeat;
  position: relative;
}
@media screen and (max-width: 767px) {
  .second_banner {
    padding: 0;
  }
}
.second_banner .inblock_1 {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: white;
  padding: 80px 0;
  position: absolute;
  top: -190px;
  left: calc(50% - 600px);
}
@media screen and (max-width: 767px) {
  .second_banner .inblock_1 {
    position: static;
    padding: 20px 30px;
  }
}
.second_banner .inblock_1 .type h2 {
  padding-bottom: 24px;
  color: #1E1928;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
}
.second_banner .inblock_1 .type p {
  padding-bottom: 28px;
  color: rgba(30, 25, 40, 0.8);
  max-width: 653px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.252px;
}
.second_banner .inblock_1 .type a {
  width: 145px;
  border-radius: 9999px;
  border: 1px solid #1E1928;
  padding: 10px 33px;
  margin: auto;
  display: inline-block;
  color: #1E1928;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .freebanner {
    flex-direction: column;
    margin-top: 40px;
    text-align: center;
  }
}
.freebanner .d_flex {
  max-width: 1200px;
  margin: auto;
}
.freebanner h2 {
  color: #1E1928;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
  padding: 80px 120px;
  margin-top: -100px;
}
.freebanner .icon {
  list-style: none;
}
.freebanner .icon .list {
  max-width: 515px;
  margin-bottom: 38px;
  margin-right: 154px;
}
.freebanner .icon li {
  color: rgba(30, 25, 40, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.176px;
  display: flex;
}
.freebanner .icon li h3 {
  color: #1E1928;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.252px;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .freebanner .icon li {
    margin-left: 60px;
    width: 100%;
    justify-content: space-around;
    text-align: center;
  }
}
.freebanner .icon li:before {
  display: inline-flex;
  content: "1";
  border-radius: 50%;
  background: #1E1928;
  width: 40px;
  height: 40px;
  margin-right: 24px;
  margin-top: -10px;
  justify-content: center;
  align-items: center;
  color: #EDE6DD;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.252px;
}
@media screen and (max-width: 767px) {
  .freebanner .icon li:before {
    width: 70px;
    height: 30px;
    margin-right: 0;
  }
}
.freebanner .icon li:nth-child(2):before {
  display: inline-flex;
  content: "2";
  border-radius: 50%;
  background: #1E1928;
  width: 40px;
  height: 40px;
  margin-right: 24px;
  justify-content: center;
  align-items: center;
  color: #EDE6DD;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.252px;
}
@media screen and (max-width: 767px) {
  .freebanner .icon li:nth-child(2):before {
    width: 130px;
    height: 30px;
    margin-right: 0;
  }
}
.freebanner .icon li:last-of-type:before {
  display: inline-flex;
  content: "3";
  border-radius: 50%;
  background: #1E1928;
  width: 40px;
  height: 40px;
  margin-right: 24px;
  justify-content: center;
  align-items: center;
  color: #EDE6DD;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.252px;
}
@media screen and (max-width: 767px) {
  .freebanner .icon li:last-of-type:before {
    width: 120px;
    height: 30px;
    margin-right: 0;
  }
}

.third_banner .container {
  background: #F4EFE9;
  padding-bottom: 144px;
}
@media screen and (max-width: 767px) {
  .third_banner .container {
    padding: 20px 30px;
  }
}
@media screen and (max-width: 767px) {
  .third_banner .container img {
    display: none;
  }
}
.third_banner .container .type_1 h3 {
  color: #1E1928;
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 24px;
}
@media screen and (max-width: 767px) {
  .third_banner .container .type_1 h3 {
    text-align: center;
  }
}
.third_banner .container .type_1 p {
  color: rgba(30, 25, 40, 0.8);
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.252px;
  max-width: 600px;
}
@media screen and (max-width: 767px) {
  .third_banner .container .type_1 p {
    text-align: center;
    padding-bottom: 15px;
  }
}
.third_banner .container .frame_phone {
  margin-top: 80px;
  margin-bottom: 80px;
}
.third_banner .container .type_2 h3 {
  color: #1E1928;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 24px;
}
@media screen and (max-width: 767px) {
  .third_banner .container .type_2 h3 {
    text-align: center;
  }
}
.third_banner .container .type_2 p {
  color: rgba(30, 25, 40, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.252px;
}
@media screen and (max-width: 767px) {
  .third_banner .container .type_2 p {
    text-align: center;
  }
}
.third_banner .container .type_3 h3 {
  color: #1E1928;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 24px;
}
@media screen and (max-width: 767px) {
  .third_banner .container .type_3 h3 {
    text-align: center;
  }
}
.third_banner .container .type_3 p {
  color: rgba(30, 25, 40, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.252px;
}
@media screen and (max-width: 767px) {
  .third_banner .container .type_3 p {
    text-align: center;
  }
}

.fourth_banner {
  text-align: center;
  padding-bottom: 302px;
}
@media screen and (max-width: 767px) {
  .fourth_banner {
    padding: 30px 30px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (max-width: 767px) {
  .fourth_banner img {
    padding-bottom: 8px;
  }
}
.fourth_banner h3 {
  color: #1E1928;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.252px;
  margin-bottom: 80px;
}
.fourth_banner .fourth_link {
  border-radius: 9999px;
  border: 1px solid #1E1928;
  display: inline-block;
  margin: auto;
  padding: 10px 33px;
  color: #1E1928;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 80px;
  text-decoration: none;
}

.fifth_banner {
  padding-top: 290px;
  padding-bottom: 184px;
  background-color: #592141;
  position: relative;
}
@media screen and (max-width: 767px) {
  .fifth_banner {
    padding: 0;
    text-align: center;
  }
}
.fifth_banner .inblock_2 {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: white;
  padding: 80px 0;
  position: absolute;
  top: -158px;
  left: calc(50% - 600px);
}
@media screen and (max-width: 767px) {
  .fifth_banner .inblock_2 {
    position: static;
    padding: 20px 30px;
    margin-bottom: 50px;
  }
}
.fifth_banner .inblock_2 h3 {
  color: #1E1928;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  padding-bottom: 24px;
}
@media screen and (max-width: 767px) {
  .fifth_banner .inblock_2 h3 {
    font-size: 25px;
  }
}
.fifth_banner .inblock_2 p {
  color: rgba(30, 25, 40, 0.8);
  max-width: 662px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 176.471% */
  letter-spacing: 0.252px;
}
.fifth_banner .type_4 h3 {
  color: #F4EFE9;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.252px;
  padding-bottom: 36px;
}
.fifth_banner .type_4 p:nth-child(2) {
  color: #F4EFE9;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: 96px;
}
.fifth_banner .type_4 p:nth-child(3) {
  color: #F4EFE9;
  max-width: 828px;
  margin: auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  padding-bottom: 32px;
}
@media screen and (max-width: 767px) {
  .fifth_banner .type_4 p:nth-child(3) {
    padding: 20px 30px;
  }
}
.fifth_banner .type_4 p:last-of-type {
  color: #F4EFE9;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 30px;
}

.banner_six {
  padding-top: 144px;
  padding-bottom: 264px;
  background-color: #EDE6DD;
}
@media screen and (max-width: 767px) {
  .banner_six {
    padding: 30px;
  }
}
.banner_six .seen_on {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.banner_six .seen_on a {
  margin: 6px;
}
.banner_six h3 {
  color: #1E1928;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  margin-bottom: 64px;
}

.banner_seven {
  padding-top: 266px;
  padding-bottom: 138px;
  background-color: #1E1928;
  position: relative;
}
@media screen and (max-width: 767px) {
  .banner_seven {
    padding: 0;
    text-align: center;
  }
}
.banner_seven .inblock_3 {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: white;
  padding: 80px 0;
  padding-left: 40px;
  position: absolute;
  top: -120px;
  left: calc(50% - 600px);
}
@media screen and (max-width: 767px) {
  .banner_seven .inblock_3 {
    position: static;
    padding: 20px 30px;
    margin-bottom: 50px;
    flex-direction: column;
  }
}
.banner_seven .inblock_3 .middle_img {
  width: 1px;
  height: 80px;
  flex-shrink: 0;
  background: rgba(30, 25, 40, 0.1607843137);
  margin: 0 6.25rem;
}
@media screen and (max-width: 767px) {
  .banner_seven .inblock_3 .middle_img {
    display: none;
  }
}
.banner_seven .inblock_3 h3 {
  color: #1E1928;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  padding-bottom: 16px;
}
@media screen and (max-width: 767px) {
  .banner_seven .inblock_3 h3 {
    font-size: 25px;
  }
}
.banner_seven .inblock_3 p {
  color: rgba(30, 25, 40, 0.64);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.084px;
  padding-bottom: 16px;
}
.banner_seven .type_5 h3 {
  color: #FFF;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 152.941% */
  letter-spacing: 0.252px;
  padding-bottom: 33px;
}
.banner_seven .type_5 p {
  color: #EDE6DD;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 30px;
}
.banner_seven .type_5 form {
  border-radius: 9999px;
  background: white;
  padding: 8px 12px;
  display: flex;
  max-width: 448px;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 23px;
}
@media screen and (max-width: 767px) {
  .banner_seven .type_5 form {
    width: 273px;
    margin: auto;
    margin-bottom: 23px;
  }
}
.banner_seven .type_5 form input {
  width: 180px;
  border: none;
  background-color: transparent;
  padding: 10px 19px;
  color: rgb(30, 25, 40);
  font-family: "Inter", sans-serif;
  outline: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
@media screen and (max-width: 767px) {
  .banner_seven .type_5 form input {
    width: 120px;
    font-size: 8px;
  }
}
.banner_seven .type_5 form button {
  padding: 10px 32px;
  border-radius: 9999px;
  background: #1E1928;
  color: #F4EFE9;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
@media screen and (max-width: 767px) {
  .banner_seven .type_5 form button {
    padding: 0 8px;
  }
}

.footer {
  background-color: #FFF;
  padding-top: 64px;
  padding-bottom: 64px;
}
.footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.footer .footer_top {
  display: block;
  justify-content: space-between;
}
.footer .footer_top .footer_top_flex {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 112px;
}
@media screen and (max-width: 767px) {
  .footer .footer_top .footer_top_flex {
    flex-wrap: wrap;
    padding: 0 30px;
    justify-content: center;
  }
}
.footer .footer_top h3 {
  color: #1E1928;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.252px;
}
.footer .footer_top ul {
  list-style-type: none;
  margin-top: 16px;
}
.footer .footer_top ul li {
  color: rgba(30, 25, 40, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}
.footer .footer_top ul a {
  color: rgba(30, 25, 40, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
.footer .footer_top ul a:hover {
  color: #007bff;
}
.footer .footer_top .social_media_links {
  display: flex;
  justify-content: flex-end;
  align-items: start;
}
@media screen and (max-width: 767px) {
  .footer .footer_top .social_media_links {
    margin-left: 20px;
    flex-direction: column;
  }
}
.footer .footer_top .social_media_links .subscribe_btn {
  border-radius: 9999px;
  background: #1E1928;
  color: #F4EFE9;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 10px 32px;
  margin-right: 16px;
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .footer .footer_top .social_media_links .subscribe_btn {
    padding: 6px 10px;
  }
}
.footer .footer_top .social_media_links .subscribe_btn:hover {
  border-radius: 9999px;
  background: #1e1928;
}
.footer .footer_top .social_media_links .media_link {
  display: flex;
}
.footer .footer_top .social_media_links .media_link a img {
  width: 40px;
  height: 40px;
  margin-right: 17px;
}
.footer .footer_top .empathy_info_everyone {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .footer .footer_top .empathy_info_everyone {
    flex-direction: column;
    align-content: flex-start;
  }
}
.footer .footer_top .empathy_info_everyone .empathy_is_for_everyone {
  flex: 1;
  max-width: 60%;
  margin-right: 20px;
}
@media screen and (max-width: 767px) {
  .footer .footer_top .empathy_info_everyone .empathy_is_for_everyone {
    max-width: 100%;
  }
}
.footer .footer_top .empathy_info_everyone .empathy_is_for_everyone p {
  color: rgba(30, 25, 40, 0.64);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.084px;
}
@media screen and (max-width: 767px) {
  .footer .footer_top .empathy_info_everyone .empathy_is_for_everyone p {
    padding-bottom: 20px;
    padding-left: 25px;
    text-align: center;
  }
}
.footer .footer_top .empathy_info_everyone .market_store {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 767px) {
  .footer .footer_top .empathy_info_everyone .market_store {
    padding-bottom: 50px;
  }
}
.footer .footer_top .empathy_info_everyone .market_store a {
  margin-left: 10px;
}
.footer .footer_top .empathy_info_everyone .market_store img {
  width: 100px;
  height: auto;
}
.footer .footer_top .broadway_new_york {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(30, 25, 40, 0.64);
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-top: 16px;
}
@media screen and (max-width: 767px) {
  .footer .footer_top .broadway_new_york {
    flex-direction: column;
  }
}
.footer .footer_top .broadway_new_york span {
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .footer .footer_top .broadway_new_york span {
    margin-right: 0;
  }
}
.footer .footer_top .broadway_new_york span:last-child {
  margin-left: 0;
}

/*# sourceMappingURL=style_preproc.css.map */
